<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="css/angular-bootstrap-calendar.min.css" rel="stylesheet" />
    <link href="css/calendarApp.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>
<body data-ng-app="calendarApp" data-ng-controller="mainController" ng-cloak style="overflow-x:hidden;">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="row">
            <div class="col col-xs-1"></div>
            <label class="btn btn-default navbar-btn col col-xs-1 col-sm-2" ng-click="routeTo('/home')"><span class="hidden-xs">Home </span><span class="glyphicon glyphicon-home" aria-hidden="true"></span></label>
            <div class="col col-xs-1 col-sm-1"></div>
            <a class="navbar-brand col col-xs-6 col-sm-4 text-center" href="#home">Ryan Tedeschi</a>
            <div class="col col-xs-1 col-sm-1"></div>
            <label class="btn btn-default navbar-btn col col-xs-1 col-sm-2" ng-click="routeTo('/calendar')"><span class="hidden-xs">Calendar </span><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></label>
            <div class="col col-xs-1"></div>
        </div>
    </nav>

    <div ng-view></div>

    <script src="js/jquery.min.js"></script>
    <!--<script src="js/jquery-ui.custom.min.js"></script>-->
    <script src="js/moment.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="js/angular-bootstrap-calendar-tpls.js"></script>
</body>
</html>
