<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="css/toastr.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="css/angular-bootstrap-calendar.min.css" rel="stylesheet" />
    <link href="css/calendarApp.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>
<body data-ng-app="calendarApp" data-ng-controller="mainController" ng-cloak style="overflow-x:hidden;">
    <nav class="navbar navbar-inverse navbar-fixed-top affix" role="navigation">
        <div class="row">
            <div class="col-xs-1 visible-xs"></div>
            <div class="col-xs-1 visible-xs">
                <div class="btn-group pull-left">
                    <label class="btn btn-default navbar-btn" ng-click="routeTo('/home')"><span class="hidden-xs">Home </span><span class="glyphicon glyphicon-home" aria-hidden="true"></span></label>
                </div>
            </div>
            <div class="col-xs-1 visible-xs"></div>
            <div class="col-xs-6 col-sm-4">
                <a class="navbar-brand text-center visible-xs" style="width:100%;" href="#home">Ryan Tedeschi</a>
                <a class="navbar-brand text-left hidden-xs" style="width:100%;" href="#home">Ryan Tedeschi</a>
            </div>
            <div class="col-sm-4 hidden-xs">
                <div class="navbar-form btn-group btn-group-justified">
                    <label class="btn btn-default navbar-btn" ng-click="routeTo('/home')"><span class="hidden-xs">Home </span><span class="glyphicon glyphicon-home" aria-hidden="true"></span></label>
                    <label class="btn btn-default navbar-btn" ng-click="routeTo('/calendar')"><span class="hidden-xs">Calendar </span><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></label>
                </div>
            </div>
            <div class="col-sm-4 hidden-xs">
                <a class="navbar-brand text-right hidden-xs" style="width:100%;" href="#calendar">Calendar App</a>
            </div>
            <div class="col-xs-1 visible-xs"></div>
            <div class="col-xs-1 visible-xs">
                <div class="btn-group pull-right">
                    <label class="btn btn-default navbar-btn" ng-click="routeTo('/calendar')"><span class="hidden-xs">Calendar </span><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></label>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar-space"></nav>
    <div ng-view></div>

    <script src="js/jquery.min.js"></script>
    <!--<script src="js/jquery-ui.custom.min.js"></script>-->
    <script src="js/toastr.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="js/angular-bootstrap-calendar-tpls.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>

    <!-- temporary LiveReload script -->
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>
