<div>

    <div class="pull-left">
        
    </div>

    <div class="container-fluid">

        <div class="row" id="calendarApp">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row">
                    <div class="col-xs-4 col-sm-5">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div class="panel-title">Calendar View</div>
                            </div>
                            <div class="panel-body">
                                <div class="btn-group btn-group-justified hidden-sm hidden-xs">
                                    <label class="btn btn-success" ng-model="calendarView" btn-radio="'year'">Year</label>
                                    <label class="btn btn-success" ng-model="calendarView" btn-radio="'month'">Month</label>
                                    <label class="btn btn-success" ng-model="calendarView" btn-radio="'week'">Week</label>
                                    <label class="btn btn-success" ng-model="calendarView" btn-radio="'day'">Day</label>
                                </div>
                                <div class="btn-group-vertical visible-sm visible-xs">
                                    <div class="btn-group">
                                        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{toUpper(calendarView)}} <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li ng-model="calendarView" btn-radio="'year'"><a>Year</a></li>
                                            <li ng-model="calendarView" btn-radio="'month'"><a>Month</a></li>
                                            <li ng-model="calendarView" btn-radio="'week'"><a>Week</a></li>
                                            <li ng-model="calendarView" btn-radio="'day'"><a>Day</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-7">
                        <div class="row">
                            <!-- Not necessary due to new event buttons added to calendar source -->
                            <!--<div class="col-xs-6">
                                <label class="btn cbtn btn-primary center-block" ng-click="eventNew()"><span class="glyphicon glyphicon-plus"></span></label>
                            </div>-->
                            <div class="col-xs-2 col-sm-3 col-md-4"></div>
                            <div class="col-xs-7 col-sm-6 col-md-4">
                                <label class="btn oval btn-warning" ng-click="setCalendarToToday()">Today</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-2 hidden-xs">
                                        <div class="btn cbtn-lg btn-info pull-left" ng-click="calendarControl.prev()"><span class="glyphicon glyphicon-chevron-left"></span></div>
                                    </div>
                                    <h2 class="center-block text-center col-xs-11 col-sm-8">{{ calendarControl.getTitle() }}</h2>
                                    <div class="col-xs-2 hidden-xs">
                                        <div class="btn cbtn-lg btn-info pull-right" ng-click="calendarControl.next()"><span class="glyphicon glyphicon-chevron-right"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="visible-xs clearfix">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label class="btn cbtn btn-info pull-left" ng-click="calendarControl.prev()"><span class="glyphicon glyphicon-chevron-left"></span></label>
                                    </div>
                                    <div class="col-xs-5">
                                        <!--
                                        <label class="center-block btn cbtn btn-primary" ng-click="eventNew()"><span class="glyphicon glyphicon-plus"></span></label>
                                        -->
                                    </div>
                                    <div class="col-xs-3">
                                        <label class="btn cbtn btn-info pull-right" ng-click="calendarControl.next()"><span class="glyphicon glyphicon-chevron-right"></span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="calContainer">
                    <mwl-calendar calendar-events="events"
                                  calendar-view="calendarView"
                                  calendar-current-day="calendarDay"
                                  calendar-control="calendarControl"
                                  calendar-timespan-click="alert('hello')"
                                  calendar-event-click="eventClicked(calendarEvent)"
                                  calendar-delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                              calendar-edit-event-click="eventEdited(calendarEvent)"
                              calendar-delete-event-click="eventDeleted(calendarEvent)"
                              calendar-auto-open="false"
                              calendar-day-view-start="06:00"
                              calendar-day-view-end="22:00"
                              calendar-timespan-click="dayClicked($date)"
                              calendar-day-view-split="30"
                              calendar-edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'">
                </mwl-calendar>
                </div>
                <br /><br /><br />

                <script type="text/ng-template" id="viewEvent.html">
                    <div class="modal-header">
                        <h2 class="modal-title text-center"><b>{{event.title}}</b></h2>
                    </div>
                    <div class="modal-body">
                        <div class="well well-sm">
                            <div class="text-center">
                                <p>
                                    <h5 ng-hide="!event.allDay || !datesEqual(event.starts_at, event.ends_at)">All Day Event</h5>
                                    <h5 ng-hide="event.allDay && datesEqual(event.starts_at, event.ends_at)">
                                        Starts <span ng-hide="datesEqual(event.starts_at, event.ends_at)">on <b>{{event.starts_at | date:'shortDate'}}</b> </span><span ng-hide="event.allDay">at <b>{{event.starts_at | date: 'shortTime'}}</b></span>
                                    </h5>
                                </p>
                                <p>
                                    <h5 ng-hide="!event.allDay || !datesEqual(event.starts_at, event.ends_at)">
                                        <b>{{event.starts_at | date: 'shortDate'}}</b>
                                    </h5>
                                    <h5 ng-hide="event.allDay && datesEqual(event.starts_at, event.ends_at)">
                                        Ends <span ng-hide="datesEqual(event.starts_at, event.ends_at)">on <b>{{event.ends_at | date:'shortDate'}}</b> </span><span ng-hide="event.allDay">at <b>{{event.ends_at | date: 'shortTime'}}</b></span>
                                    </h5>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-2 hidden-xs"></div>
                            <label class="btn btn-danger col-sm-2 col-xs-4" ng-click="eventDeleted(event); $modalInstance.close();">Delete</label>
                            <div class="col-sm-1 hidden-xs"></div>
                            <label class="btn btn-warning col-sm-2 col-xs-4" ng-click="eventEdited(event); $modalInstance.close();">Edit</label>
                            <div class="col-sm-1 hidden-xs"></div>
                            <label class="btn btn-success col-sm-2 col-xs-4" ng-click="$modalInstance.close()">Back</label>
                        </div>
                    </div>
                </script>

                <script type="text/ng-template" id="editEvent.html">
                    <div class="modal-header">
                        <div class="input-group input-group-lg" style="width: 100%;">
                            <input type="text" class="modal-title form-control text-center" placeholder="Event Title" value="{{event.title}}" ng-model="event.title" maxlength="40" />
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="checkbox checkbox-danger">
                            <input type="checkbox" id="allDayCheck" ng-model="event.allDay" ng-click="update()">
                            <label for="allDayCheck">
                                All Day
                            </label>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-6" ng-controller="datepicker">
                                <div class="col-xs-12">
                                    <p class="input-group">
                                        <input type="text" class="form-control" readonly datepicker-popup="{{format}}" ng-model="event.starts_at" is-open="opened" max-date="event.ends_at" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-xs-12">
                                    <timepicker class="timepicker" id="starttimepicker" ng-hide="event.allDay" ng-model="event.starts_at" hour-step="1" minute-step="15" readonly-input="true"></timepicker>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6" ng-controller="datepicker">
                                <div class="col-xs-12">
                                    <p class="input-group">
                                        <input type="text" class="form-control" readonly datepicker-popup="{{format}}" ng-model="event.ends_at" is-open="opened" min-date="event.starts_at" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-xs-12">
                                    <timepicker class="timepicker" id="endtimepicker" ng-hide="event.allDay" ng-model="event.ends_at" hour-step="1" minute-step="15" readonly-input="true"></timepicker>
                                </div>
                            </div>
                        </div>

                        <select class="form-control" ng-model="event.type">
                            <option value="important">Important</option>
                            <option value="warning">Warning</option>
                            <option value="info">Info</option>
                            <option value="inverse">Inverse</option>
                            <option value="success">Success</option>
                            <option value="special">Special</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-xs-1"></div>
                            <label class="btn btn-danger col-sm-4 col-xs-5" ng-click="$modalInstance.close()">Cancel</label>
                            <div class="col-xs-2 hidden-xs"></div>
                            <label class="btn btn-success col-sm-4 col-xs-5" ng-click="updateEvent(event); $modalInstance.close()">Okay</label>
                        </div>
                    </div>
                </script>

                <script type="text/ng-template" id="killEvent.html">
                    <div class="modal-header">
                        <h2 class="modal-title text-center"><i class="glyphicon glyphicon-exclamation-sign col" style="color: red"></i> <b>Delete Event '{{event.title}}'?</b></h2>
                    </div>
                    <div class="modal-body text-center">
                        <h4>Are you sure you want to delete this event? It cannot be undone!</h4>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-xs-1"></div>
                            <label class="btn btn-info col-xs-5 col-sm-4" ng-click="$modalInstance.close()">I Didn't Mean It!!</label>
                            <div class="col-xs-2 hidden-xs"></div>
                            <label class="btn btn-danger col-xs-5 col-sm-4" ng-click="kill(event); $modalInstance.close()">Kill it...</label>
                        </div>
                    </div>
                </script>

                <script type="text/ng-template" id="enumEvents.html">
                    <div class="modal-header">
                        <h3 class="modal-title text-center"><i class="glyphicon glyphicon-calendar col" style="color: green"></i> {{date | date:'fullDate'}}</h3>
                    </div>
                    <div class="modal-body" style="overflow-y: scroll; max-height: 400px">
                        <div class="well well-sm" ng-repeat="event in events">
                            <div class="row">
                                <section class="col-xs-6">
                                    <p><h2 class="align-right"><b>{{event.title}}</b></h2></p>
                                    <p>
                                        <h5 class="align-right" ng-hide="!event.allDay || !datesEqual(event.starts_at, event.ends_at)">All Day Event</h5>
                                        <h5 class="align-right" ng-hide="event.allDay && datesEqual(event.starts_at, event.ends_at)">
                                            Starts <span ng-hide="datesEqual(event.starts_at, event.ends_at)">on <b>{{event.starts_at | date:'shortDate'}}</b> </span><span ng-hide="event.allDay">at <b>{{event.starts_at | date: 'shortTime'}}</b></span>
                                        </h5>
                                    </p>
                                    <p>
                                        <h5 class="align-right" ng-hide="!event.allDay || !datesEqual(event.starts_at, event.ends_at)">
                                            <b>{{event.starts_at | date: 'shortDate'}}</b>
                                        </h5>
                                        <h5 class="align-right" ng-hide="event.allDay && datesEqual(event.starts_at, event.ends_at)">
                                            Ends <span ng-hide="datesEqual(event.starts_at, event.ends_at)">on <b>{{event.ends_at | date:'shortDate'}}</b> </span><span ng-hide="event.allDay">at <b>{{event.ends_at | date: 'shortTime'}}</b></span>
                                        </h5>
                                    </p>
                                </section>
                                <section class="col-xs-6">
                                    <button class="btn btn-success col-xs-12" ng-click="eventClicked(event); $modalInstance.close();" style="margin-bottom: 5%">View</button>
                                    <button class="btn btn-warning col-xs-12" ng-click="eventEdited(event); $modalInstance.close();" style="margin-bottom: 5%">Edit</button>
                                    <button class="btn btn-danger col-xs-12" ng-click="eventDeleted(event); $modalInstance.close();" style="margin-bottom: 5%">Delete</button>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-xs-3"></div>
                            <label class="btn btn-success col-xs-6" ng-click="$modalInstance.close()">Back</label>
                        </div>
                    </div>
                </script>
            </div>
        </div>

    </div>

</div>